* {
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: teal;
}

.game-wrap {
    width: 700px;
    margin: 0 auto;
    padding-top: 30px;
}
.board {
    height: 700px;
    border: 2px solid white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.column {

}
.square {
    border: 1px solid teal;
}
.square.filled {
    background-color: white;
}
.square.food {
    background-color: red;
}